<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">

</head>
<body>
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h6 class="card-price text-center">Family<span class="period"></span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Total Users: 4</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Remaining Users: 4</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Vote</a>
          </div>
        </div>
      </div>
<div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h6 class="card-price text-center">Friends<span class="period"></span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Total Users: 20</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Remaining Users: 7</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Voted!</a>
          </div>
        </div>
      </div>
        <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h6 class="card-price text-center">POLIBA<span class="period"></span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Total Users: 5</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Remaining Users: 0</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">See the List</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>