<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p id="identifi"></p>
    <script>

        var obj = JSON.parse('{{ jsonData | safe}}');

        // document.getElementById('identifi').innerHTML= ob[0].numResults + " " + infoGroups[0].nameTotal + " " + infoGroups[0].numRemaining + " " + infoGroups[0].state;
        document.getElementById('identifi').innerHTML= obj.infoGroups[0].nameGroup + " " + obj.infoGroups[0].nameTotal + " " + obj.infoGroups[0].numRemaining +" " + obj.infoGroups[0].state;
    </script>

<a type="button" class="btn btn-primary btn-lg" href="{{ url_for('homeuser') }}">Create a Group</a>
</body>
</html>