<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p id="identifi"></p>
    <script>

        var obj = JSON.parse('{{ jsonData | safe}}');
        if(obj.numResults==0){
            document.getElementById('identifi').innerHTML= "NO GROUPS FOR YOU!";
        }
        else {
            var listGroups = '<ul>';

            for(i=0; i<obj.numResults; i++)
            {
                listGroups+= '<li>'+ obj.infoGroups[i].nameGroup + " " + obj.infoGroups[i].nameTotal + " " + obj.infoGroups[i].numRemaining +" " + obj.infoGroups[i].state + '</li>';
            }
            listGroups += '</ul>';

            document.getElementById('identifi').innerHTML= listGroups;
        }

    </script>

<a type="button" class="btn btn-primary btn-lg" href="{{ url_for('homeuser') }}">Create a Group</a>
<p>ID: {{userID}}</p>
</body>
</html>