<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p id="identifi"></p>
    <script>

        var obj = JSON.parse('{{ jsonData | safe}}');
        if(obj.numResults==0){
            document.getElementById('identifi').innerHTML= "NO GROUPS FOR YOU!";
        }
        else {
            var listGroups = '<ul>';

            for(i=0; i<obj.numResults; i++)
            {
                // if(obj.infoGroups[i].state=="yellow")
                // {
                //     var collegam = "{{ url_for('search') }}";
                // }

                listGroups+= '<li>'+
                    '<a href=' + '{{ url_for("search")}} ' +  'style="color:'+ obj.infoGroups[i].state + '">' + obj.infoGroups[i].nameGroup+ '</a>' +
                     " " + "Total Users: " + obj.infoGroups[i].nameTotal + " " + "Remaining Users: "+  obj.infoGroups[i].numRemaining +" "  + '</li>';

                // if(obj.infoGroups[i].state== "yellow")
                // {
                //    var btn = document.createElement("BUTTON");
                //    var t= document.createTextNode("Click for Vote");
                //     btn.appendChild(t);
                //     document.body.appendChild(btn);
                //
                // }
            }
            listGroups += '</ul>';

            document.getElementById('identifi').innerHTML= listGroups;

        }

    </script>

<a type="button" class="btn btn-primary btn-lg" href="{{ url_for('homeuser') }}">Create a Group</a>
<p>ID: {{userID}}</p>
</body>
</html>